/*  */


/* Custom properties / variables */

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
	 * default document font size = 16px, 1rem = 16px,
	 * 100% = 16px
	 * (100% / 16px) * 10 = 62,5%, 1rem = 10px, 62,5% = 10px
	 */
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* Base styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    /* //TODO: Continue here!!!*/
}

h1,
h2 {
    border: 1px solid orange;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}


/* *********** Navigation Bar *********** */

#navbar {
    left: 0;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

ul {
    display: flex;
}

#navbar li {
    margin-right: 2rem;
}

#navbar li a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

#navbar li a:hover {
    background-color: var(--main-blue);
}